[submodule "volsync"]
	path = volsync
	url = https://github.com/backube/volsync
	branch = release-0.13
[submodule "rclone"]
	path = rclone
	url = https://github.com/rclone/rclone
	branch = v1.63-stable
[submodule "syncthing"]
	path = syncthing
	url = https://github.com/syncthing/syncthing
	branch = main
[submodule "diskrsync"]
	path = diskrsync
	url = https://github.com/dop251/diskrsync
	branch = master
[submodule "drift-detection"]
	path = drift-detection
	url = https://github.com/arewm/drift-detection
	branch = main
[submodule "yq"]
	path = yq
	url = https://github.com/mikefarah/yq
	branch = v4.45.2
